.container{
    max-width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    padding: 10px;
}
.ulStyle{
    text-align: start;
    padding-left: 10px;
}
.liStyle{
    padding-left: 10px;
    margin-bottom: 5px;
}
li::marker {
    content: url("./assets/icon-list.svg");
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.btn{
    width: 100%;
    margin-top: 10px;
    background-color: black;
    height: 40px;
}

.error{
    color:red;
}
.errorBg{
    background-color: #FFE8E6;
    color:red;
}
.errorBg:hover{
    background-color: #FFE8E6;
}
.headMain{
    font-size: 60px;
    
}